@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    margin: 1rem;
    padding: 1rem;
    width: 8rem;
}

a {
    color: black;
    text-align: center;
    border-radius: 30px;
    background: #8CFBA4;
    border: 3px solid #8CFBA4;
}

nav a:hover {
    color: #E63754;
}

h1 {
    color: #8CFBA4;
}

main {
    text-align: center;
}

footer {
    margin-top: 300px;
}